    .text-area {
        height: 200px;
        font-family: monospace;
    }

    #loader-wrapper {
        position: absolute;
        width: 100vw;
        height: calc(100vh - 56px);
        display: flex;
        justify-content: center;
        align-items: center;

        /* Frosted glass effect */
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        /* Slight tint */
        background: rgba(255, 255, 255, 0.2);

        /* Block interaction */
        pointer-events: all;

        z-index: 9999;
    }

    .text-purple {
        color: violet;
    }

    /* .list-style {
        padding-left: 1rem;
    } */
    .list-style li span{
        color: #333;
    }

    .spinner {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 9px solid #474bff;
        animation: spinner-bulqg1 0.8s infinite linear alternate,
            spinner-oaa3wk 1.6s infinite linear;
    }

    @keyframes spinner-bulqg1 {
        0% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
        }

        12.5% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
        }

        25% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
        }

        50% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        }

        62.5% {
            clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        }

        75% {
            clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
        }

        100% {
            clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
        }
    }

    @keyframes spinner-oaa3wk {
        0% {
            transform: scaleY(1) rotate(0deg);
        }

        49.99% {
            transform: scaleY(1) rotate(135deg);
        }

        50% {
            transform: scaleY(-1) rotate(0deg);
        }

        100% {
            transform: scaleY(-1) rotate(-135deg);
        }
    }